/core/target/
/net/target/
/particle/target/
/physic/target/
/ui/target/
/tests/test-audio/target/
/tests/test-minecraft/target/
/tests/test-model-3d/target/
/tests/test-particle/target/
/tests/test-physic/target/
/tests/test-terraria/target/
/tests/test-ui/target/
/tests/test-net/target/
/tests/test-text-editor/target/
/tests/test-window/target/
/tests/test-noise/target/
/tests/test-minecraft-osp/target/
/tests/test-minecraft-osp/minecraft-osp-mod/target/

# Project exclude paths
/out/
/tests/dev-tests/target/